
// 接口工具页
.InterRoot{
  width: 100%;
  margin-top: 10px;
  //工具页的上半部分
  .InterfaceTest_interface-layout__top{
      background-color: yellow;
  }

  //工具页的中间部分
  .InterfaceTest_interface-layout__center{

  }

  //工具页的底页部分
}


