// 路由动画
.fade-transform-enter-active ,
.fade-transform-leave-active  {
  transition: all 0.5s ease;

}

.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to  {
  opacity: 0;
  transform: translateX(30px);
}


// 面包屑动画
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter-from,
.breadcrumb-leave-active {
  opacity: 0;
  //transform: translateY(30px);
  //transform: translate(120px, 50%);
  //transform: rotate(0.5turn);
  transform: scale(0.5) translate(-100%, -100%);

}

.breadcrumb-leave-active {
  position: absolute;
}
